<!--Start: Main-->
<main>
  <!--Start: Section-->
  <section>
    <h2>GIFT GALLERY</h2>
    <p>
      Collect <mark>gift</mark> with your good heart<br />
      Any types of <mark>gift</mark> you want you can give
    </p>
  </section>
  <!--End: Section-->

  <!--Start: Figure-->
  <figure>
    <img src="../assets/images/giftbox.jpg" height="300px" />
    <figcaption style="padding-bottom: 20px">Fig: Giftbox</figcaption>
  </figure>
  <!--End: Figure-->

  <!--Start: Article-->
  <article>
    <h3 class="h3">
      <!--Start: Details & Summary-->
      <details>
        <summary>Birthday</summary>
        <p>Birthday gift for you</p>
      </details>
      <figure>
        <img
          src="../assets/images/birthday.jpg"
          height="150px"
          style="padding-bottom: 20px"
        />
      </figure>

      <details>
        <summary>Festival</summary>
        <p>Festival gift for you</p>
      </details>
      <figure>
        <img
          src="../assets/images/festival.jpg"
          height="150px"
          style="padding-bottom: 20px"
        />
      </figure>

      <details>
        <summary>Wedding</summary>
        <p>Wedding gift for you</p>
      </details>
      <figure>
        <img
          src="../assets/images/wedding.jpg"
          height="150px"
          style="padding-bottom: 20px"
        />
      </figure>

      <details>
        <summary>Greeting</summary>
        <p>Greeting gift for you</p>
      </details>
      <figure>
        <img
          src="../assets/images/greeting.jpg"
          height="150px"
          style="padding-bottom: 20px"
        />
      </figure>
      <!--End: Details & Summary-->
    </h3>
  </article>
  <!--End: Article-->

  <br />

  <!--Start: Aside-->
  <aside>
    <img
      src="../assets/images/giftforyou.jpg"
      height="200px"
      style="padding-bottom: 20px"
    />
  </aside>
  <!--End: Aside-->

  <br />

  <!--Start: Canvas-->
  <canvas
    id="myCanvas"
    width="200px"
    height="100px"
    style="border: 1px solid black"
  >
  </canvas>
  <!--End: Canvas-->

  <br />

  <!--Start: svg-->
  <img
    src="../../../assets/images/christmas-present-gift-birthday-christmas-svgrepo-com.svg"
    width="200px"
    height="200px"
  />
  <!--End: svg-->

  <br />

  <!--Start: Video-->
  <video width="400px" height="400px" controls>
    <source src="../assets/videos/video.mp4" type="video/mp4" />
  </video>
  <!--End: Video-->
</main>
<!--End: Main-->
