<div class="d-flex m-5">
    <div class="wrapper d-flex flex-column bg-light me-5 rounded-5 photo-padding">
        <div class="row custom-wrapper">
            <!-- Upload image -->
            <div class="avatar-upload mt-4">
                <div class="avatar-preview">
                </div>
            </div>
            <!-- Action Buttons -->
            <div>
                <div>
                    <button type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                        class="btn-block btn btn-primary mt-5 registration-btn text-nowrap">
                        Change Photo
                    </button>
                </div>
                <div>
                    <button type="button"
                        class="btn-block btn btn-outline-primary mt-4 registration-btn text-nowrap">Remove
                        Photo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bg-light rounded-5 form-padding">
        <div class="d-flex flex-column">
            <!-- Start: Form -->
            <form [formGroup]="pirofileEditForm" (ngSubmit)="editPirofile()">
                <div class="row g-4 mt-2">
                    <!-- Specialization Input -->
                    <div class="form-floating col-12 col-md-6 mt-sm-4">
                        <input type="text" formControlName="specialization" class="form-control" id="specialization"
                            placeholder="Specialization">
                        <label for="specialization">
                            <span class="label-floating-text">
                                Specialization
                            </span>
                        </label>
                    </div>
                    <!-- Input Radio Gender -->
                    <div class="col-md-6 d-flex flex-column justify-content-start pt-2">
                        <div class="d-flex align-items-sm-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="Male"
                                    formControlName="gender">
                                <label class="form-check-label cursor-pointer" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="Female"
                                    formControlName="gender">
                                <label class="form-check-label cursor-pointer" for="female">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="other" value="Other"
                                    formControlName="gender">
                                <label class="form-check-label cursor-pointer" for="other">Other</label>
                            </div>
                        </div>
                    </div>
                    <!-- First Name -->
                    <div class="form-floating col-12 col-md-6 mt-sm-4">
                        <input type="text" formControlName="firstName" class="form-control" id="firstName"
                            placeholder="First Name">
                        <label for="firstName">
                            <span class="label-floating-text">
                                First Name
                            </span>
                        </label>
                    </div>
                    <!-- Last Name -->
                    <div class="form-floating col-12 col-md-6 mt-sm-4">
                        <input type="text" formControlName="lastName" class="form-control" id="lastName"
                            placeholder="Last Name">
                        <label for="lastName">
                            <span class="label-floating-text">
                                Last Name
                            </span>
                        </label>
                    </div>
                    <!-- Email Input -->
                    <div class="form-floating col-12">
                        <input type="email" formControlName="emailId" class="form-control" id="floatingInput"
                            placeholder="Email address" appAutoFocus>
                        <label for="floatingInput">
                            <span class="label-floating-text">Email ID</span>
                        </label>
                    </div>
                    <!-- Date of Establishment Input -->
                    <div class="form-floating col-12 col-md-6 mt-sm-4">
                        <!-- bsdatepicker -->
                        <input id="dateOfEstablishment" class="form-control"
                            formControlName="dateOfEstablishment" placeholder="Date of Establishment"
                            bsDatepicker>
                        <label for="dateOfEstablishment">
                            <span class="label-floating-text">Date of Establishment</span>
                        </label>
                        <span class="fs-6 me-4 mt-2 pt-1 position-absolute top-0 end-0">
                            <label for="dateOfEstablishment">
                                <span class="icon icon-attachment-label icon-date-picker">
                                </span>
                            </label>
                        </span>
                    </div>
                    <!-- Mobile number Input -->
                    <div class="form-floating col-12 col-md-6 mt-sm-4">
                        <input type="text" formControlName="mobileNo" class="form-control ps-5" id="mobileNo"
                            placeholder="Mobile No">
                        <label for="mobileNo">
                            <span class="label-floating-text">Mobile No</span>
                        </label>
                    </div>
                    <!-- Institute Name Input -->
                    <div class="form-floating col-12">
                        <input type="text" formControlName="instituteName" class="form-control" id="instituteName"
                            placeholder="InstituteName">
                        <label for="instituteName">
                            <span class="label-floating-text">
                                Institute Name
                            </span>
                        </label>
                    </div>
                    <!-- Certificate of Institute file Input -->
                    <div class="col-12 col-md-6 mt-sm-4">
                        <label for="certificateFileName" class="text-ellipsis">
                            <span>
                                Certificate of Institute
                            </span>
                        </label>
                        <div class="form-floating mt-2">
                            <input [disabled]="true" type="text" class="form-control" id="certificateFileName"
                                placeholder="Certificate of Institute">
                            <label for="certificateFileName" class="text-ellipsis">
                                <span class="label-floating-text">
                                    Certificate of Institute
                                </span>
                            </label>
                            <span
                                class="icon icon-attachment-label icon-attachment fs-6 me-3 pe-1 position-absolute end-0"></span>
                            <input [disabled]="true" type="file" class="opacity-0 certificate-upload" id="certificate"
                                placeholder="Certificate of Institute">
                            <div class="text-danger mt-1">
                                <div class="d-flex align-items-start small">
                                    <span class="icon icon-alert fs-6 me-1"></span>
                                    <span class="validation-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Certificate of Doctor file Input -->
                    <div class="col-12 col-md-6 mt-sm-4">
                        <label for="doctorDegreeCertificateFileName">
                            <span>Degree/Certificate of Doctor</span>
                        </label>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control" id="doctorDegreeCertificateFileName"
                                placeholder="Degree/Certificate of Doctor">
                            <label for="doctorDegreeCertificateFileName" class="text-ellipsis">
                                <span class="label-floating-text">Degree/Certificate of Doctor</span>
                            </label>
                            <span
                                class="icon icon-attachment-label icon-attachment fs-6 me-3 pe-1 position-absolute end-0"></span>
                            <input type="file" class="opacity-0 certificate-upload" id="doctorDegreeCertificate"
                                placeholder="Degree/Certificate of Doctor">
                            <div class="text-danger mt-1">
                                <div class="d-flex align-items-start small">
                                    <span class="icon icon-alert fs-6 me-1"></span>
                                    <span class="validation-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Action Buttons -->
                <!-- <div class="row g-4 flex-column-reverse flex-sm-row mt-1">
                    <div class="col-12 col-sm-6 text-sm-end">
                        <button type="button"
                            class="btn-block btn btn-outline-primary mt-sm-2 registration-btn text-nowrap"
                            routerLink="/">Cancel</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button type="submit" class="btn-block btn btn-primary mt-sm-2 registration-btn text-nowrap">
                            Sign Up
                        </button>
                    </div>
                </div> -->
                <div class="d-grid gap-4 d-md-flex justify-content-md-end mt-4">
                    <button class="btn btn-outline-primary me-md-2" type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
            <!-- End: Form -->
        </div>
    </div>
</div>