// .group-gap {
//     margin-bottom: 40px;
// }

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #178fa7;
    margin: auto;
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rounded-5 {
    border-radius: 16px;
}

.photo-padding {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    //padding-bottom: 80px;
}

.form-padding {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
}