aside {
    display: flex;
    font-size: 30px;
    height: 100%;
    flex: 0 0 200px;
    background-color: aqua;
}

a {
    color: black;
}

a:hover {
    background-color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
}