aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  height: 100%;
  border: 1px solid #f8f8fa;
  position: relative;
}

.angular {
  border-bottom: 2px solid #f8f8fa;
  height: 72px;
  padding: 20px;
  margin: 0;
  text-align: left;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: #ebedfc;
  color: #2f55e4;
  border-radius: 5px;
}

.icon {
  height: 24px;
  color: #898989;
}

.color {
  color: black;
}

.padding-top {
  padding-top: 40px;
}

.padding-bottom {
  padding-bottom: 40px;
}

.padding-right {
  padding-right: 10px;
}

nav {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

nav .nav-1 {
  padding: 20px;
}

ul {
  list-style: none;
  text-align: left;
}

.logout {
  position: absolute;
  bottom: 0;
  border-top: 2px solid #f1f1f3;
  width: 100%;
  height: 72px;
  padding: 20px;
  margin: 0;
  text-align: left;
}
