<input type="checkbox" id="menu" checked />
<aside class="d-flex flex-column overflow-hidden">
  <header class="d-flex border-bottom">
    <label for="menu" class="menu-btn"
      ><span class="icon-menu_icon"></span
    ></label>
    <div class="angular flex-grow-1 logo">
      <span class="icon-angular_logo_icon padding color"></span>
      <span class="color">ANGULAR</span>
    </div>
  </header>
  <div>
    <div class="d-flex padding-top align-item-center">
      <figure class="image d-flex align-item-center overflow-hidden">
        <img src="./assets/images/female.png" alt="" />
      </figure>
      <div class="logo">
        <span class="user">User</span><br />
        <span class="small">user@gmail.com</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-grow-1 overflow-auto">
    <nav>
      <ul>
        <li class="padding-top">
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="angularbasics"
          >
            <span class="icon-angular_icon padding-right"></span>
            <span class="color logo font-size">Angular Basics</span>
          </a>
        </li>
        <li>
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="databinding"
          >
            <span class="icon-arrows_icon padding-right"></span>
            <span class="color logo font-size">Data Binding</span>
          </a>
        </li>
        <li class="border-bottom padding-bottom">
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="directivesandpipes"
          >
            <span class="icon-data_icon padding-right"></span>
            <span class="color logo font-size">Directives And Pipes</span>
          </a>
        </li>
        <li class="padding-top">
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="reactiveform"
          >
            <span class="icon-form_icon padding-right"></span>
            <span class="color logo font-size">Reactive Form</span>
          </a>
        </li>
        <li>
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="resumebuilder"
          >
            <span class="icon-resume_icon padding-right"></span>
            <span class="color logo font-size">Resume Builder</span>
          </a>
        </li>
        <li>
          <a
            class="icon nav-1 d-flex align-item-center"
            routerLink="user-management"
          >
            <span class="icon-angular_icon padding-right"></span>
            <span class="color logo font-size">Assessment1</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="logout border-top">
    <a class="icon nav-1 d-flex align-item-center" routerLink="angularbasics">
      <span class="icon-logout_icon padding-right"></span>
      <span class="color logo font-size">LogOut</span>
    </a>
  </div>
</aside>
