// Typographical styles goes here
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

// Typographical styles goes here
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

textarea {
    resize: none;
}
