<div class="form-wrapper">
  <div class="d-flex space-between">
    <h2>{{ formTitle }}</h2>
  </div>
  <div class="container">
    <form [formGroup]="mentorForm">
      <div class="margin-bottom-20">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" formControlName="name" placeholder="Enter Name" class="text-box" />
        <div class="test" *ngIf="getvalue['name'].touched && getvalue['name'].invalid">
          <div *ngIf="
                getvalue['name'].errors &&
                getvalue['name'].errors['required']
              ">
            *Name is required
          </div>
        </div>
      </div>
      <div class="margin-bottom-20">
        <label for="age">Age:</label><br />
        <input type="text" id="age" name="age" formControlName="age" placeholder="Enter Age" class="text-box" />
        <div class="test" *ngIf="getvalue['age'].touched && getvalue['age'].invalid">
          <div *ngIf="
                getvalue['age'].errors && getvalue['age'].errors['required']
              ">
            *Age is required
          </div>
        </div>
      </div>
      <div class="margin-bottom-20">
        <label>Gender: </label><br />
        <input type="radio" name="gender" id="male" value="Male" formControlName="gender" />
        <label for="male" class="padding-right">Male</label>
        <input type="radio" name="gender" id="female" value="Female" formControlName="gender" />
        <label for="female" class="padding-right">Female</label>
        <input type="radio" name="gender" id="other" value="Other" formControlName="gender" />
        <label for="other">Other</label>
      </div>
      <div class="d-flex space-between">
        <div>
          <button class="submit-btn" type="submit" [disabled]="mentorForm.invalid" (click)="onSubmit()">
            Submit
          </button>
          <button class="reset-btn" type="button" (click)="onReset()">
            Reset
          </button>
        </div>
        <div>
          <button class="cancel-btn" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>