.delete-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  word-wrap: break-word;
}

.delete-body {
  width: 100%;
  padding: 1rem;
}

.delete-footer {
  width: 100%;
  margin-bottom: 1rem;
}

.delete-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.btn {
  margin: 5px;
  width: 60px;
  height: 24px;
  background-color: #5371df;
  color: white;
  border-radius: 5px;
  border: 0;
}
