<div class="delete-card">
    <section class="delete-card-body">
      <div>
        <p class="delete-card-title">
          Are you sure you want to delete this record?
        </p>
      </div>
    </section>
    <footer class="delete-card-footer">
      <div class="d-flex align--item-center justify-content-around">
        <button (click)="close(true)" type="button" class="btn">Yes</button>
        <button (click)="close(false)" type="button" class="btn">No</button>
      </div>
    </footer>
  </div>
  
