.container {
  width: 500px;
  padding: 2rem;
  margin: 0 auto;
  line-height: 2.5rem;
  border-radius: 10px;
  background-color: white;
}

.padding-right {
  padding-right: 10px;
}

label {
  font-weight: bold;
}

.test {
  color: red;
  font-size: 12px;
}

.text-box {
  width: 50%;
}

.submit-btn {
  background-color: #26ad5f;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.reset-btn {
  background-color: #2f55e4;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.cancel-btn {
  background-color: #e95654;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 100px;
}
