label {
  font-weight: bold;
}

.container {
  width: 50%;
  padding: 2rem;
  margin: 2rem;
  line-height: 2.5rem;
  background-color: lightyellow;
  border: 1px solid black;
}

.test {
  color: red;
}

.submit-btn {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.reset-btn {
  background-color: orangered;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
