@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?ykivq1');
  src:  url('fonts/icon.eot?ykivq1#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?ykivq1') format('truetype'),
    url('fonts/icon.woff?ykivq1') format('woff'),
    url('fonts/icon.svg?ykivq1#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu_icon:before {
  content: "\e908";
}
.icon-angular_icon:before {
  content: "\e901";
}
.icon-data_icon:before {
  content: "\e900";
}
.icon-resume_icon:before {
  content: "\e902";
}
.icon-angular_logo_icon:before {
  content: "\e903";
  color: #dd0031;
}
.icon-logout_icon:before {
  content: "\e904";
}
.icon-search_icon:before {
  content: "\e905";
}
.icon-form_icon:before {
  content: "\e906";
}
.icon-arrows_icon:before {
  content: "\e907";
}

