aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  height: 100%;
  border: 1px solid #f8f8fa;
  position: relative;
  transition: all 0.4s;
}

.header {
  border-bottom: 2px solid #f8f8fa;
}

.angular {
  height: 72px;
  padding: 10px;
  margin: 0;
  text-align: left;
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
}

.image {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 20px;
}

.small {
  font-size: small;
  color: #898989;
}

.user {
  font-weight: bold;
}

a {
  text-decoration: none;
  white-space: nowrap;
  justify-content: left;
  transition: all ease-in-out 0.4s;
}

a:hover {
  text-decoration: none;
  background-color: #ebedfc;
  color: #2f55e4;
  border-radius: 5px;
}

.icon {
  height: 24px;
  color: #898989;
}

.color {
  color: black;
}

.border-top {
  border-top: 2px solid #f1f1f3;
}

.padding-top {
  padding-top: 30px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-right {
  padding-right: 10px;
}

.padding-left {
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

nav .nav-1 {
  padding: 20px;
}

ul {
  list-style: none;
  text-align: left;
}

.logout {
  padding: 20px;
}

.menu-btn {
  font-size: 32px;
  padding: 10px;
  color: #898989;
}

#menu:checked ~ aside {
  width: 72px;
}

#menu:checked ~ aside .logo {
  display: none;
}

#menu {
  display: none;
}

#menu:checked ~ aside a {
  justify-content: center;
}

@media (max-width: 768px) {
  aside {
    width: 200px;
    padding: 0;
    justify-content: left;
  }

  .angular {
    height: 72px;
    padding: 20px;
    margin: 0;
    font-size: 1.5rem;
  }

  a {
    font-size: 16px;
    padding: 5px;
  }

  nav .nav-1 {
    padding: 10px;
  }

  .image {
    height: 32px;
    width: 32px;
    margin-left: 12px;
  }

  .menu-btn {
    font-size: 16px;
    padding: 25px 0 20px 5px;
    margin-left: 15px;
  }

  .logout {
    padding: 5px;
  }

  .padding-top {
    padding-top: 15px;
  }

  .padding-bottom {
    padding-bottom: 15px;
  }
}
