<header>
  <div>
    <h1>Users</h1>
  </div>
  <!-- <div class="d-flex space-betwwen align-item-center">
    <div class="flex-grow-1 position-relative">
      <span>
        <input type="search" class="search" name="search" id="search" placeholder="Search User" />
      </span>
      <span class="search-icon icon-search_icon padding-right position-absolute"></span>
    </div>
    <div class="d-flex space-between">
      <button class="add-btn" routerLink="../add">+ Add</button>
    </div>
  </div> -->
</header>
<app-user-form></app-user-form>
<app-user-list></app-user-list>