.model-wrapper {
  background-color: white;
  width: 500px;
  height: 100%;
  padding: 20px;
}

.form-wrapper {
  height: 100%;
  overflow: hidden;
}

.model-body {
  padding: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid #f8f8fa;
  background-color: white;
}

.padding-right {
  padding-right: 10px;
}

label {
  font-weight: bold;
}

.test {
  color: red;
  font-size: 12px;
}

.text-box {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #f8f8fa;
  padding: 5px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.submit-btn {
  background-color: #26ad5f;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.reset-btn {
  background-color: #2f55e4;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #e95654;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 100px;
  cursor: pointer;
}
