<ng-template #listView>
  <ul class="list">
    <li class="list-item" *ngFor="let intern of interns">
      ID: {{ intern.id }}, Name: {{ intern.name }}, Company: {{ intern.company }}
    </li>
  </ul>
</ng-template>
<ng-template #cardView>
  <div class="card-row d-flex flex-wrap">
    <div class="card-wrapper" *ngFor="let intern of interns">
      <div class="card">
        <div class="title">
          ID: {{ intern.id }}
        </div>
        <div class="name">
          Name: {{ intern.name }}
        </div>
        <div class="grade">
          Company: {{ intern.company }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="template-ref-example">
  <div class="tool-tip text-right">
    <button class="btn btn-primary" type="button" (click)="toggleView()">{{ this.view_mode }}</button>
  </div>

  <ng-container [ngTemplateOutlet]="viewMode"></ng-container>
</div>