/* Table */
table,
tr {
  border-collapse: collapse;
  border: 1px solid #e6e7eb;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
  width: 97%;
  overflow: hidden;
  background-color: white;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #e6e7eb;
}

.edit-btn {
  background-color: #2f6bff;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.delete-btn {
  background-color: #171f46;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
