<div class="list-wrapper d-flex flex-column">
  <h1 class="mb-0">Mentors</h1>
  <header>
    <div class="flex-grow-1 position-relative">
      <span>
        <input type="search" class="search" name="search" id="search" placeholder="Search Mentor"
          [(ngModel)]="searchText" />
      </span>
      <label for="search" class="search-icon icon-search_icon padding-right position-absolute"></label>
    </div>
    <div class="d-flex justify-content-between">
      <button class="filter-btn" (click)="openFilterModel()">Filter</button>
      <button class="add-btn" routerLink="../add">+ Add</button>
    </div>
  </header>
  <div class="table">
    <table>
      <thead>
        <tr (click)="sort($event)">
          <th scope="col" class="table-cell" data-value="id">Mentor Id</th>
          <th scope="col" class="table-cell" data-value="firstname">First Name</th>
          <th scope="col" class="table-cell" data-value="lastname">Last Name</th>
          <th scope="col" class="table-cell" data-value="email">Email Address</th>
          <th scope="col" class="table-cell" data-value="contact">Contact Number</th>
          <th scope="col" class="table-cell" data-value="department">Department</th>
          <th scope="col" class="table-cell" data-value="office">Office</th>
          <th scope="col" class="table-cell" data-value="date">Date Of Employeement</th>
          <th scope="col" class="table-cell" data-value="age">Age</th>
          <th scope="col" class="table-cell" data-value="gender">Gender</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="_newMentorList?.length">
        <tr class="align-middle" *ngFor="let mentor of _newMentorList | search: searchText; let i = index">
          <td class="table-cell">{{ mentor.id }}</td>
          <td class="table-cell">{{ mentor.firstname }}</td>
          <td class="table-cell">{{ mentor.lastname }}</td>
          <td class="table-cell">{{ mentor.email }}</td>
          <td class="table-cell">{{ mentor.contact }}</td>
          <td class="table-cell">{{ mentor.department | department: departmentList }}</td>
          <td class="table-cell">{{ mentor.office | office: officeList }}</td>
          <td class="table-cell">{{ mentor.date | date: "MM/dd/yyyy" }}</td>
          <td class="table-cell">{{ mentor.age }}</td>
          <td class="table-cell">{{ mentor.gender }}</td>
          <td class="d-flex justify-content-center">
            <button class="edit-btn" (click)="onEdit(mentor.id)">
              Edit
            </button>
            <button class="delete-btn" (click)="onDelete(mentor.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <div *ngIf="!_newMentorList?.length">No data found...</div>
    </table>
    <app-pagination [items]="mentorList" [itemsPerPage]="5" (changePage)="changePage($event)"
      class="d-flex align-items-center justify-content-center"></app-pagination>
  </div>
</div>