<div class="container">
  <form [formGroup]="myResumeForm" (ngSubmit)="onSubmit()">
    <div class="padding-bottom">
      <label for="name">Name: </label><br />
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        placeholder="Enter Name"
        class="text-box"
      />
      <div
        class="test"
        *ngIf="getvalue['name'].touched && getvalue['name'].invalid"
      >
        <div
          *ngIf="getvalue['name'].errors && getvalue['name'].errors['required']"
        >
          *Name is required
        </div>
        <div
          *ngIf="
            getvalue['name'].errors && getvalue['name'].errors['minlength']
          "
        >
          Minimum length should be 4
        </div>
        <div
          *ngIf="
            getvalue['name'].errors && getvalue['name'].errors['maxlength']
          "
        >
          Maximum length should be 8
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <label for="designation">Designation: </label><br />
      <input
        type="text"
        id="designation"
        name="designation"
        formControlName="designation"
        placeholder="Enter Designation"
        class="text-box"
      />
      <div
        class="test"
        *ngIf="
          getvalue['designation'].touched && getvalue['designation'].invalid
        "
      >
        <div
          *ngIf="
            getvalue['designation'].errors &&
            getvalue['designation'].errors['required']
          "
        >
          *Designation is required
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <label for="email">Email ID: </label><br />
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
        placeholder="abc@gmail.com"
        class="text-box"
      />
      <div
        class="test"
        *ngIf="getvalue['email'].touched && getvalue['email'].invalid"
      >
        <div
          *ngIf="
            getvalue['email'].errors && getvalue['email'].errors['required']
          "
        >
          *Email ID is required
        </div>
        <div
          *ngIf="getvalue['email'].errors && getvalue['email'].errors['email']"
        >
          Please enter valid Email
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <label for="phone">Phone No: </label><br />
      <input
        type="text"
        id="phone"
        name="phone"
        formControlName="phone"
        placeholder="Enter Phone Number"
        class="text-box"
      />
      <div
        class="test"
        *ngIf="getvalue['phone'].touched && getvalue['phone'].invalid"
      >
        <div
          *ngIf="
            getvalue['phone'].errors && getvalue['phone'].errors['required']
          "
        >
          *Phone number is required
        </div>
        <div
          *ngIf="getvalue['phone'].errors && getvalue['phone'].errors['phone']"
        >
          Maximum length should be 10
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <label for="profile">Profile: </label><br />
      <input
        type="text"
        id="profile"
        name="profile"
        formControlName="profile"
        placeholder="Enter Profile"
        class="text-box"
      />
      <div
        class="test"
        *ngIf="getvalue['profile'].touched && getvalue['profile'].invalid"
      >
        <div
          *ngIf="
            getvalue['profile'].errors && getvalue['profile'].errors['required']
          "
        >
          *Profile is required
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <div>
        <label for="skills">Skills: </label>
        <button type="button" class="add-btn" (click)="addSkills()">
          Add Skills
        </button>
      </div>
      <div
        formArrayName="skills"
        *ngFor="let skill of skill.controls; let i = index"
      >
        <div [formGroupName]="i">
          <input
            type="text"
            formControlName="skill"
            placeholder="Skill"
            class="text-box"
          /><br />
          <div
            class="test"
            *ngIf="skill.get('skill')?.touched && skill.get('skill')?.invalid"
          >
            *Skill is required
          </div>
          <input
            type="text"
            formControlName="description"
            placeholder="Skill Description"
            class="text-box"
          />
          <div
            class="test"
            *ngIf="
              skill.get('description')?.touched &&
              skill.get('description')?.invalid
            "
          >
            *Skill Description is required
          </div>
          <button type="button" class="delete-btn" (click)="deleteSkills(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <div>
        <label for="technical">Technical: </label>
        <button type="button" class="add-btn" (click)="addTechnical()">
          Add Technical
        </button>
      </div>
      <div
        formArrayName="technical"
        *ngFor="let tech of tech.controls; let i = index"
      >
        <div [formGroupName]="i">
          <input
            type="text"
            formControlName="tech"
            placeholder="Technical"
            class="text-box"
          />
          <div
            class="test"
            *ngIf="tech.get('tech')?.touched && tech.get('tech')?.invalid"
          >
            *Technical is required
          </div>
          <button type="button" class="delete-btn" (click)="deleteTechnical(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <div>
        <label for="experience">Experience: </label>
        <button type="button" class="add-btn" (click)="addExperience()">
          Add Experience
        </button>
      </div>
      <div
        formArrayName="experience"
        *ngFor="let exp of exp.controls; let i = index"
      >
        <div [formGroupName]="i">
          <input
            type="text"
            formControlName="expname"
            placeholder="Experience"
            class="text-box"
          /><br />
          <div
            class="test"
            *ngIf="exp.get('expname')?.touched && exp.get('expname')?.invalid"
          >
            *Experience is required
          </div>
          <input
            type="text"
            formControlName="year"
            placeholder="Year"
            class="text-box"
          /><br />
          <div
            class="test"
            *ngIf="exp.get('year')?.touched && exp.get('year')?.invalid"
          >
            *Year is required
          </div>
          <input
            type="text"
            formControlName="post"
            placeholder="Post"
            class="text-box"
          /><br />
          <div
            class="test"
            *ngIf="exp.get('post')?.touched && exp.get('post')?.invalid"
          >
            *Post is required
          </div>
          <input
            type="text"
            formControlName="desc"
            placeholder="Description"
            class="text-box"
          />
          <div
            class="test"
            *ngIf="exp.get('desc')?.touched && exp.get('desc')?.invalid"
          >
            *Description is required
          </div>
          <button
            type="button"
            class="delete-btn"
            (click)="deleteExperience(i)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="padding-bottom">
      <div>
        <label for="education">Education: </label>
        <button type="button" class="add-btn" (click)="addEducation()">
          Add Education
        </button>
      </div>
      <div
        formArrayName="education"
        *ngFor="let education of education.controls; let i = index"
      >
        <div [formGroupName]="i">
          <input
            type="text"
            formControlName="university"
            placeholder="University"
            class="text-box"
          /><br />
          <div
            class="test"
            *ngIf="
              education.get('university')?.touched &&
              education.get('university')?.invalid
            "
          >
            *University is required
          </div>
          <input
            type="text"
            formControlName="gpa"
            placeholder="GPA"
            class="text-box"
          />
          <div
            class="test"
            *ngIf="
              education.get('gpa')?.touched && education.get('gpa')?.invalid
            "
          >
            *GPA is required
          </div>
          <button type="button" class="delete-btn" (click)="deleteEducation(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div>
      <button
        class="submit-btn"
        type="submit"
        [disabled]="myResumeForm.invalid"
      >
        Submit
      </button>
      <button class="reset-btn" type="button" (click)="resetForm()">
        Reset
      </button>
    </div>
  </form>
</div>
