/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

/*inputs*/
#msform input,
#msform textarea {
    &::placeholder {
        font-size: 1rem;
    }

    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    font-size: 1rem;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #0068ff;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*headings*/
#msform fieldset .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

/*validations*/
#msform fieldset .test {
    font-size: 12px;
    color: red;
    text-align: left;
    margin-bottom: 10px;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #0068ff;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0068ff;
}

#msform .action-button-previous {
    width: 100px;
    background: #8db4ed;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #8db4ed;
}

/*progressbar*/
#progressbar {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    text-align: center;
}

#progressbar li {
    list-style-type: none;
    color: #f7f8fa;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    z-index: 0;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 12px;
    background: #f7f8fa;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 96.7%;
    height: 2px;
    background: #f7f8fa;
    position: absolute;
    right: 50%;
    top: 18px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0068ff;
    color: white;
}

#progressbar li.inactive:before {
    background: #8db4ed;
    color: #000;
}